/.vscode
/docker/ns3http/ns3http
/free5gc-config/free5gc-compose
/free5gc-config/gtp5g
/free5gc-config/images.txt
/free5gc-config/webconsole-openapi
/oai-config/conf_files
/phoenix-config/cfg
/pnpm-lock.yaml
/types/*.schema.json
node_modules
