/.vscode
/docker/ns3http/ns3http
/free5gc/free5gc-compose
/free5gc/webconsole-openapi
/oai/docker-compose
/oai/fed
/oai/nwdaf
/omec/upf
/open5gs/open5gs-dbctl
/pnpm-lock.yaml
/sims.tsv
/types/*.schema.json
node_modules
